body 
{
    font-family: "Helvetica Neue", sans-serif;
    font-size: 24px;
    background-color: #8bc3f8;
}
  
h1 
{ 
    font-size: 48px;
    font-weight: bold;
}
  
h2 
{
   font-size: 36px;
   padding: 0%;
   padding-left: 5px;
   border: 2px solid #000000;
   border-radius: 25px;
   box-sizing: content-box;
}
  
h3 
{
    font-size: 28px;
    font-weight: bold;
    padding-left: 5px;
}

p
{
    padding-left: 20px;
    margin: 0px;
}